.container {
  width: auto;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: space-between;
}

.articles {
  position: relative;
  flex-basis: 33%;
  flex-grow: 2;
  height: 50%;
}

.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.8);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.articles:hover .background,
.header {
  transform: scale(1.03) translateZ(0);
  filter: brightness(1) saturate(1.2) contrast(1);
}

.header {
  color: aliceblue;
  height: 20%;
  width: 100%;
  transform: scale(1) translateZ(0);
  transition: 200ms linear;
}

.articles:hover .header {
  transform: scale(1.2) translateZ(0);
}

.link {
  text-decoration: none;
  color: transparent;
  transition: 0.5s ease-out;
  height: 100%;
  width: 100%;
}

.button {
  height: 15%;
  visibility: hidden;
  margin-top: 20%;
  transition: 0.3s ease-in;
  transform: scale(1) translateZ(0);
  font: inherit;

  padding: 0.2rem 1.5rem;
  border: 1px solid #3a949b;
  border-radius: 5px;
  background: #3a949b;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.delete {
  height: 15%;
  visibility: hidden;
  margin-top: 20%;
  transition: 0.3s ease-in;
  transform: scale(1) translateZ(0);
  font: inherit;

  padding: 0.2rem 1.5rem;
  border: 1px solid #3a949b;
  border-radius: 5px;
  background: #3a949b;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.articles:hover .button,
.delete {
  margin-top: 10%;
  visibility: visible;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
}

.articles:hover {
}
