.main {
  margin: 5% auto;
  align-items: center;
  width: auto;
  max-width: 75%;
  min-height: 65vh;
  align-content: center;
  text-align: center;
}

.rooter {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rooter::-webkit-scrollbar {
  display: none;
}
