.main {
  margin: 0% auto;
  align-items: center;
  width: auto;
  max-width: 90%;
  min-height: 65vh;
  align-content: center;
  text-align: center;
}

.rooter {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rooter::-webkit-scrollbar {
  display: none;
}


.background{
  background-color: #ececec;
  height: 100%;
  width: 100%;
  padding: 10% 5%;
 
}