.article {
  display: flex;
  flex-direction: row-reverse;
  background-color: aliceblue;
  margin: 3%;
  border-radius: 5px;
}

.article button {
  flex-basis: 10%;
}
.article a {
  flex-basis: 10%;
}
.article h4 {
  flex-basis: 80%;
}
