@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");

html,
body {
  overflow-x: hidden;

  padding: 0;
  margin: 0;
  font-family: Arimo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/marble-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}




.button {
  font: inherit !important ;
  padding: 0.3rem 1rem !important;
  border: 1px solid #3a949b !important;
  border-radius: 4px !important;
  background: #3a949b !important;
  color: white !important;
  cursor: pointer !important;

  text-decoration: none !important;
  display: inline-block !important;
}

.button:focus {
  outline: none !important;
}

.button:hover,
.button:active {
  background: #bdc5d2 !important;
  border-color: #bdc5d2 !important;
}

button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc !important;
  color: #979797 !important;
  border-color: #ccc !important;
  cursor: not-allowed !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
